# Ignore protege catalog xml files
/vital-license/
### VITALSIGNS MANAGED START ###

# Ignore protege catalog xml files
**/catalog-v*.xml
/domain-groovy-jar-deployed/
/domain-json-schema-deployed/
/domain-ontology-deployed/
/vital-config/
/vital-domain-schema/
/vital-dynamodb/
/vital-json/
/vital-license/
/vital-lucene/
/vital-ontology/
/vital-sparql/
/vitalflow-inference/
/vitalflow-integrator/
/vitalflow-logger/
/vitalflow-nlp/
/vitalflow-predict/
/vitalhadoop/
/vitalpredict/
/vitalprime/
/vitalservice/
/vitalsigns/
/vitalutil/
/vital-sql/
/aspen/
/aspen-datascripts/
/vital-groovy/
/vital-cytoscape/
/vital-vertx/
### VITALSIGNS MANAGED END   ###
